*.iml
.gradle
/local.properties
/.idea/artifacts
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/copilot
/.idea/*.xd
.DS_Store
/build
/.kotlin
build
/captures
.externalNativeBuild
.cxx
local.properties
/kotlin-js-store/yarn.lock
/kotlin-js-store/wasm/yarn.lock
