name: Check

on:
  push:
    branches: 
      - master
  pull_request:
    types: [assigned, opened, synchronize, reopened]

jobs:
  checks:
    name: Checks
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 17
    - name: Cache
      uses: actions/cache@v4
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
          ~/.m2
          ~/.android/build-cache
        key: ${GITHUB_REF##*/}
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Check with gradle
      run: ./gradlew runUnitTests :examples:lce:assembleDebug :examples:welcome:welcome:assembleDebug :examples:multi:navbar:assembleDebug :examples:multi:parallel:assembleDebug :examples:lifecycle:assembleDebug :examples:di:app:assembleDebug :examples:commonflow:assembleDebug --no-daemon --no-configuration-cache
    - name: Upload problems report
      uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: problems
        path: ./**/build/reports/problems/problems-report.html
    - name: Upload testDebugUnitTest results
      uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: testDebugUnitTest
        path: ./**/build/reports/tests/testDebugUnitTest
    - name: Upload allTests results
      uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: allTests
        path: ./**/build/reports/tests/allTests
