name: Release

on:
  release:
    types: [published]

jobs:
  publish:
    name: Release build and publish
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: refs/remotes/origin/master
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ~/.m2
            ~/.android/build-cache
          key: ${GITHUB_REF##*/}
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Release build
        run: ./gradlew displayVersion publishToSonatype closeAndReleaseSonatypeStagingRepository --max-workers 1 --no-daemon
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
          SONATYPE_STAGING_PROFILE_ID: ${{ secrets.SONATYPE_STAGING_PROFILE_ID }}